
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro|Roboto+Condensed:700|Roboto:300');

* {
	margin: 0;
	padding: 0;
}

img {
	border: none;
	display: inline-block;
	height: auto;
	max-width: 100%;
	vertical-align: bottom;
	width: auto;
}

html {
	background: repeating-linear-gradient(-45deg, #FFF 0em, #FFF 1.5em, #F0F0F0 1.5em, #F0F0F0 3em);
	min-height: 100%;
	overflow: auto;
}

body {
	color: #666;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.8em;
	padding: 0.75em;
	text-align: center;
}

.wrapper {
	margin: 0 auto;
	max-width: 100%;
	text-align: left;
	width: 990px;
}

.content {
	background: #FFF;
	box-shadow: 0.9em 0.9em 0 rgba(0,0,0,0.2);
	box-shadow: 0 0 0 1px rgba(0,0,0,0.2), 0.9em 0.9em 0 rgba(0,0,0,0.2);
	padding: 0.9em 2.25em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 48px;
	font-weight: 700;
	line-height: 1.8em;
}

p {
	padding: 0.45em 0;
}

code {
	background: #333;
	color: #CCC;
	border-left: 0.375em solid #F06;
	display: block;
	font-family: 'Anonymous Pro', serif;
	font-weight: 400;
	overflow: auto;
	padding: 0.9em 2.25em;
	white-space: pre;
}

code:hover {
	color: #FFF;
}

a {
	color: #F09;
	text-decoration: underline;
}

a:hover {
	color: #ff33ad;
	text-decoration: none;
}

a:active {
	color: #cc007a;
	text-decoration: none;
}

.example {
	padding: 0.9em 0;
}

.example a {
	display: inline-block;
	padding: 0.75em;
	text-decoration: none;
}
